DB__NAME=postgres
DB__USER=post
DB__PASSWORD=gres
DB__HOST=localhost
DB__PORT=5432

DB_TEST__NAME=postgres_test
DB_TEST__USER=post_test
DB_TEST__PASSWORD=gres_test
DB_TEST__HOST=localhost
DB_TEST__PORT=5433

MONGO__USER=mongo
MONGO__PASSWORD=password
MONGO__HOST=localhost
MONGO__PORT=27017

KAFKA__HOST=localhost
KAFKA__PORT=9092

JWT_SECRET=example

JWT__PRIVATE_KEY=private_rsa_key
JWT__PUBLIC_KEY=public_rsa_key
JWT__EXPIRE_ACCESS_TOKEN_SECONDS=600
JWT__EXPIRE_REFRESH_TOKEN_SECONDS=1296000